body{
    margin: 0 auto;
    background-color: whitesmoke;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    background: #91261F;
}
header > img{
    height: 80%;
    margin-left: 30%;
}
header > p{
    font-family:VT323, monospace ;
    color:whitesmoke ;
    font-size: 50px;
    margin-left: 60px;
}
.meme{
    border: 1px solid red;
    width: 40%;
    position: relative;
    left: 30%;
    bottom:70%;
    display: block;
}
.meme > img{
    width: 100%;
    height: 300px;
}
.meme > h3{
    position: absolute;
    color: white;
    margin-left: 5px;
    font-size: 30px;
}
.meme > .bottomMemeText{
    margin-top: -38px;
    
}
form{
    margin-left: 30%;
}
form > button{
    margin-left: 5px;
    background-color: #E2AD4B;
	border: 2px solid #F06B62;
	color: whitesmoke;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	width: 15%;
	border-radius: 5px;
	box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
}

input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #E2AD4B;
    border-radius: 4px;
    background-color: rgb(240, 107, 98);
    color: white;
  }